<%- include('partials/header') %>

<div class="container">
    <h1>Welcome to <%= club.club_name %></h1>
    <p><strong>Description:</strong> <%= club.club_description %></p>

    <h2>Members of <%= club.club_name %></h2>
    <ul>
        <% members.forEach(member => { %>
            <li><%= member.student_name %> (Roll No: <%= member.student_roll_no %>)</li>
        <% }); %>
    </ul>

    <h2>Upcoming Events</h2>
    <div class="row" id="eventContainer">
        <% events.forEach(event => { %>
            <div class="col-md-4 mb-4" id="<%= event.event_id %>">
                <div class="card">
                    <img src="<%= event.event_poster_image %>" class="card-img-top" alt="Event Poster">
                    
                    <div class="card-body">
                        <h5 class="card-title"><%= event.event_name %></h5>
                        <p class="card-text"><strong>Event Id : </strong> <%= event.event_id %></p>
                        <p class="card-text"><strong>Date:</strong> 
                            <span class="event-date">
                                <%= new Date(event.event_date).toLocaleDateString() %>
                            </span>
                        </p>
                        <p class="card-text"><strong>Time</strong> <span class="event-date"><%= event.event_time%></span></p>
                        <p class="card-text"><strong>Venue:</strong> <%= event.event_venue %></p>
                        <p class="card-text"><strong>Description:</strong> <%= event.event_short_description %></p>
            <p class="card-text"><strong>Link:</strong> <a href="<%= event.event_link %>" target="_blank">Click Here</a></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<div class="announcements">
    <% announcements.forEach(announcement => { %>
      <div class="announcement-card">
        <h3>Event ID: <%= announcement.event_id %></h3>
        <p>Type: <%= announcement.announcement_type %></p>
        <p>Description: <%= announcement.announcement_description %></p>
        <p>Club ID: <%= announcement.club_id %></p>
      </div>
    <% }); %>
  </div>
<%- include('partials/footer') %>
