<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-user fa-6x"></i>
    <h1 class="display-3">Welcome, <%= studentName %>!</h1>
    <p class="lead">Roll Number: <%= rollNumber %></p>
    <hr>
    <a class="btn btn-warning btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">Submit Your Achievements</h2>
  <form action="/submit-achievement" method="POST">
    <div class="form-group">
      <label for="event-id">Event ID</label>
      <input type="number" class="form-control" id="event-id" name="event_id" required>
    </div>
    <div class="form-group">
      <label for="achievement">Achievement</label>
      <textarea class="form-control" id="achievement" name="achievement" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit Achievement</button>
  </form>
  <hr>
  <h2 class="text-center mb-4">Generate Achievements Report</h2>
  <form action="/generate-report" method="POST">
    <button type="submit" class="btn btn-dark">Generate Report as PDF</button>
  </form>
  
  <hr>
  <h2 class="text-center mb-4">Our Clubs</h2>
  <div class="row">
    <% clubs.forEach(club => { %>
      <div class="col-md-4 mb-4">
        <div class="card club-tile">
          <div class="card-body text-center">
            <img src="<%= club.logo_url %>" alt="<%= club.club_name %> Logo" class="img-fluid mb-3">
            <h5 class="card-title"><%= club.club_name %></h5>
            <a href="/non-member?club_id=<%= club.club_id %>" class="btn btn-secondary mb-2">Non-Member Login</a>
            
            <!-- Member Login Form -->
            <form action="/member" method="GET" class="mt-3">
              <div class="form-group">
                <label for="password-<%= club.club_id %>">Enter your password:</label>
                <input type="password" id="password-<%= club.club_id %>" name="password" class="form-control" required>
                <input type="hidden" name="club_id" value="<%= club.club_id %>">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Member Login</button>
            </form>
  
            <!-- OB Login Form -->
            <form action="/ob" method="GET" class="mt-3">
              <div class="form-group">
                <label for="password-<%= club.club_id %>">Enter your password:</label>
                <input type="password" id="password-<%= club.club_id %>" name="password" class="form-control" required>
                <input type="hidden" name="club_id" value="<%= club.club_id %>">
              </div>
              <button type="submit" class="btn btn-success mb-2">OB Login</button>
            </form>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  
</div>

<%- include('partials/footer') %>

<!-- Include the JavaScript file for handling the dropdown menu -->
<script src="student.js"></script>
